<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SDKMode</key>
	<string>multi</string>
	<key>Key</key>
	<string>Your contentDock SDK Key for the Multi mode</string>
	<key>Account</key>
	<string>Your contentDock Account Webaddress (without .contentdock.com)</string>
</dict>
</plist>
